.arabic {
  font-family: 'Amiri', serif;
  font-size: 1.4rem;
  line-height: 2.6rem;
  direction: rtl;
  text-align: right;
}

.arabic-small {
  font-family: 'Amiri', serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  direction: rtl;
  text-align: right;
}
